/* colour for Nav & logo */
#logo{
    background-color: #ffffff;
    background-image: url("../img/menubg.png");
    padding-top: 5px;
    height: 70px;
    text-align: center;
}
.navlogo{
    background-color: white;
}

/* Hue Rotated Logo */
.logo-link img{
  animation: hue 2.3s infinite linear;
}
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
  }
}

#myCollapsingList{
    background-color:#292f33;
    background-image: url("../img/menubg.png");
}
#myCollapsingList a:hover { 
        background-color: #25292d;
        color: white;
        font-size: large;
}

.subscribeform {
    text-align: center;
    background-color: #292f33;
}

/* Dropdown font colour */
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
.navbar{
    background-color: #292f33;
    background-image: url("../img/menubgtop.png");
    color: #425135;
    text-align: center;
    border-radius: 0px;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: white;
}
/* Button colour */
.navbar-inverse .navbar-toggle {
    background-color: #292f33;
    border-color: #8f9590;
}
.navbar-inverse .navbar-toggle:hover {
    border-color: white;
}
.navbar-toggle .collapsed {
    background-color: white;
}
.navbar-toggle {
    /*background-color: #64557c;*/
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
a:hover {
    color:white;
}

h1{
    font-size: x-large;
    text-align:center;
}

h3{
    font-size: large;
    text-align:center;
}

/*input[name=btnsubmit]:active {*/
/*color: green;*/
/*}*/

body {
    background: #05090d;
    background: -webkit-linear-gradient(#05090d, #25292d, #333333, #64557c);
    background: -o-linear-gradient(#05090d, #25292d, #333333, #64557c);
    background: -moz-linear-gradient(#05090d, #25292d, #333333, #64557c);
    background: linear-gradient(#05090d, #25292d, #333333, #64557c);
    color:white;
}

section {
    background-image: url("../img/bgtile.png");
}
aside {
    background-image: url("../img/bgtile.png");
}
footer {
    background-image: url("../img/bgtile.png");
}
.spacer{
    height:15px;
}
.socialmedia {
    background-color: #292f33;
    width: 100%;
}

/* Font awesome */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 1;
}

/* Social media bar */
.fa-youtube {
    background: #25292d;
    color: white;
}
.fa-youtube:hover {
    background: #bb0000;
    color: white;
}
.fa-facebook {
    background: #25292d;
    color: white;
}
.fa-facebook:hover {
    background: #3b5998;
    color: white;
}
.fa-twitter {
    background: #25292d;
    color: white;
}
.fa-twitter:hover {
    background: #45bbff;
    color: white;
}
.fa-instagram {
    background: #25292d;
    color: white;
}
.fa-instagram:hover {
    background: #125688;
    color: white;
}
.fa-google {
    background: #25292d;
    color: white;
}
.fa-google:hover {
    background: #dd4b39;
    color: white;
}
.center-block {
    text-align: center;
    display:inline-block;
}
/*.center-block a{*/
/*    display:inline-block;*/
/*}*/
.button1 {
    background-color: #25292d;
}

/* Media Queries */
@media(min-width:480px){
    #logo{
    background-color: #ffffff;
    padding-top: 5px;
    height: 100px;
    }
    .logosmall{
        display: none;
    }
}

@media(max-width:480px){
  .logonormal{
    display: none;
  }
}


/* #425135 - darkgreen */
/* #64557c - lightpurple */
/* #7e8380 - grey */
/* #8f9590 - lightslategrey */
/* #71796a - greengrey */
/* #25292d - twitterdarkblue*/