/* Simplifica Font */
@font-face {
    font-family: 'simplifica' ;
    src: url('asset/fonts/simplifica.ttf') format('truetype');
}
/*Hover-CSS*/
.hvr-shutter-in-horizontal {
    background: black;
    background-image: url("../img/menufg.png");
    -webkit-transition-property: background-image;
    transition-property: background-image;
    -webkit-transition-duration: 0.2s;
transition-duration: 0.2s;
}
.hvr-shutter-in-horizontal:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: black;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}
.hvr-shutter-in-horizontal:hover, .hvr-shutter-in-horizontal:focus, .hvr-shutter-in-horizontal:active {
    color: white;
}
.hvr-shutter-in-horizontal:hover:before, .hvr-shutter-in-horizontal:focus:before, .hvr-shutter-in-horizontal:active:before {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

/* colour for Nav & logo */
#logo{
    background-color: black;
    /*background-image: url("../img/logobg.png");*/
    padding-top: 5px;
    height: 70px;
    text-align: center;
}
.logo-font{
    text-align: center;
    margin: 0 auto;
    font-size: xx-large;
    font-family: 'simplifica', san-serif;
}
.navlogo{
    background-color: black;
}

/* Hue Rotated Logo */
.logo-link{
    animation: hue 4.3s infinite linear;
}
.logo-link img{
    animation: hue 4.3s infinite linear;
}
.autorescaleimage{
    display: block;
    max-width:100%;
    width: auto;
    height: auto;
}
#equipment a{
    color:white;
}
#equipment a:hover{
    color:#8dff76;
}
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
  }
}

#bioimg{
    text-align: center;
    margin: 0 auto;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
}
#bioimg:hover {
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);
}
.mainpageimage{
    filter: saturate(50%);
}
.myCollapsingList{
    /*background-color:#292f33;*/
    /*background-image: url("../img/menubg2.png");*/
}
.myCollapsingList a:hover { 
    background-color: #25292d;
    background-image: url("../img/menufg.png");
    color: white;
    font-size: large;
}
.myCollapsingList ul{
    float: none;
    width: 100%;
}
.nopad{
    padding:0px;
}
.row{
    margin:0px;
    background-color: black;
    /*background-image: url("../img/bg.png");*/
}
.spacer{
    height:10px;
}
.subscribeform {
    text-align: center;
    background-color: #292f33;
    padding: 20px;
    border-radius: 6px;
}
.boxpadding{
    padding: 0px, 14.5px, 0px, 14.5px;
}
.subbutton{
    color:#292f33;
    font-size: small;
    font-weight: bold
}
#subbooking{
    background-color: #25292d;
    color:white;
}

#subbooking:hover{
    background-color: #419061;
    color:white;
}

#subscription{
    background-color: #25292d;
    color:white;
}

#subscription:hover{
    background-color: #419061;
    color:white;
}
/* Dropdown font colour */
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
.navbar{
    background-color: #292f33;
    color: #425135;
    text-align: center;
    border-radius: 0px;
    margin-bottom: 0px;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: white;
}
/* Button colour */
.navbar-inverse .navbar-toggle {
    background-color: #292f33;
    border-color: #8f9590;
}
.navbar-inverse .navbar-toggle:hover {
    background-color: #419061;
    border-color: white;
}
.navbar-inverse .navbar-toggle:focus {
    background-color: #292f33;
    border-color: white;
}
.navbar-toggle .collapsed {
    background-color: white;
}
.navbar-toggle {
    background-color: #64557c;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
a:hover {
    color:white;
}

/* overwrite bootstrap margins for headers */
h1, h2, h3 {
     margin-top: 0px; 
    /* margin-bottom: 0px; */
}

h1{
    font-size: x-large;
    text-align:center;
}
h2{
    font-size: large;
    text-align:center;
}
h3{
    font-size: large;
    text-align:center;
}

body {
    background-color: black;
    color:white;
    border-color: transparent;
}

section {
    margin: 0px;
    padding-top: 10px;
}

.newsdiv{
    background-color: #292f33;
    padding: 20px;
    border-radius: 6px;
}

aside {
    background-color: black;
    padding-top: 10px;
    margin-top: 0px;
}
footer {
    background-color: black;
    padding: 10px, 0px, 20px, 0px;
}
.panel{
    background-color: black;
    /*background-image: url("../img/bgtile.png");*/
    border:0px;
    margin-bottom: 10px;
}
.socialmedia {
    background-color: #292f33;
    width: 100%;
    padding: 15px;
    border-radius: 6px;
}

#contact label{
	display: inline-block;
	width: 100px;
	text-align: right;
}
#contact_submit{
	padding-left: 100px;
}
#contact div{
	margin-top: 1em;
}
textarea{
	vertical-align: top;
	height: 5em;
}
.error{
	display: none;
	margin-left: 10px;
}		
.error_show{
	color: red;
	margin-left: 10px;
}
input.invalid, textarea.invalid {
	border: 2px solid red;
}
input.valid, textarea.valid {
	border: 2px solid green;
}

/* Font awesome */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 1;
}

/* Social media bar */
.fa-youtube {
    background: #25292d;
    color: white;
}
.fa-youtube:hover {
    background: #bb0000;
    color: white;
}
.fa-facebook {
    background: #25292d;
    color: white;
}
.fa-facebook:hover {
    background: #3b5998;
    color: white;
}
.fa-twitter {
    background: #25292d;
    color: white;
}
.fa-twitter:hover {
    background: #45bbff;
    color: white;
}
.fa-instagram {
    background: #25292d;
    color: white;
}
.fa-instagram:hover {
    background: #125688;
    color: white;
}
.fa-google {
    background: #25292d;
    color: white;
}
.fa-google:hover {
    background: #dd4b39;
    color: white;
}
.center-block {
    text-align: center;
    display:inline-block;
}

.button1 {
    background-color: #25292d;
}

/* Carousel start*/
.carousel {
    height: 404px;
    width: auto;
    margin: 0 auto;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
 .carousel-caption {
    z-index: 10;
}
 .carousel .item {
    width: auto;
    height: 400px;
    background-color: transparent;
}
.carousel-inner > .item > img {
    position: relative;
    margin: 0px auto;
    min-width: auto;
    height: 400px;
    max-width: 370px;
}
@media (min-width: 768px) {
.carousel {
    height: 504px;
    width: 601px;
}

 .carousel .item {
    width: 597px;
    height: 500px;
}
.carousel-inner > .item > img {
    height: 500px;
    max-width: none;
}
    .carousel-caption p {
        font-size: 21px;
        line-height: 1.4;
    }
}
/* Carousel end */


/* Media Queries */
@media(min-width:480px){
    #logo{
    background-color: black;
    padding-top: 2px;
    height: 100px;
    }
    .logosmall{
        display: none;
    }
}

@media(max-width:479px){
  .logonormal{
    display: none;
    }
}
@media(min-width:768px){
.myCollapsingList{
    width: 100%;
    background-color:black;
    /*background-image: url("../img/menubar4.png");*/
    font-size: large;
    }
.myCollapsingList a:hover { 
    text-align: center;
    font-size: x-large;
    text-shadow: 2px 2px 4px black;
    background-image: none;
    background-color:Black;
    animation: none;
    }

    .logonavcombo{
        width: 100%;
        position: fixed;
        z-index: 998;
    }
    .panel{
        padding-top: 155px;
    }
html body div nav ul li{
    display:inline-block;
    text-align: center;
    width: 16.66%;
}
    aside {
        padding-top: 10px
    }
    .col-xs-12.col-sm-8 {
        padding-right: 0px;
    }
}
.hvr-shutter-in-horizontal {
  background: black;
  background-image: none;
}

.hvr-shutter-in-horizontal:before {
  background: #292f33;
}

/* #425135 - darkgreen */
/* #64557c - lightpurple */
/* #7e8380 - grey */
/* #8f9590 - lightslategrey */
/* #71796a - greengrey */
/* #25292d - twitterdarkblue*/